:root{
    --primary-color:white;
    --border-color: #1a98e8;
}
.names{
    font-family: "Oswald",sans-serif;
    font-size: 36px;
}
.about-body{
    background-color: var(--primary-color);
}
#area{
    font-family: "Poppins", sans-serif;
    font-size:22px;
    line-height: 2;
    color: #3c7bd5;
}

#heading{
    margin-top: 55px;
}
.download{
    border:1px solid var(--border-color);
    background-color: var(--border-color);
    color:white;
    border-radius: 15px;
    padding-right: 3px;
    padding-bottom: 3px;
    font-size: 14px;
}

.talk{
    border: 2px solid var(--border-color);
    background-color: white;
    color:black rgba(0, 0, 0, 0.3);
    border-radius:15px;
    margin-left: 20px;
    padding: 5px 40px 5px;
    font-size: 14px;}
#icon
{margin-left:350px;}

#logo{
    margin-left: 390px;
    margin-top: -56px;
}
.photo {
    width: 260px;
    height: 240px;
    margin-top: 120px;
    border: 15px solid #b3d2f2;
    border-radius: 50%;

}
.languages{
    display: flex;
    margin-left: 250px;
    margin-top: -180px;
    line-height: 2;
}
.progress-bar{
    padding:4px;
}
.heading-1{
    margin-top: 100px;
    text-align: center;
}
.skills{
    margin-top: 20px;
}

#tshego{
    margin-top:50px;
}
h2{
    margin-top: 50px;
}
#about-me{
    margin-top: 120px;}

.projects-header{
    margin-top: 70px;;
}
#projects-images{
    margin-top: 40px;
}
.contacts{
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.contact-form{
    margin-bottom:20px;
    font-size: 26px;
}
.form-name{
    border:1px solid grey;
    border-radius: 15px;
    padding: 4px;
}
.form-number{
    border:1px solid grey;
    margin-left:10px;
    border-radius:15px;
    padding:4px;
}
.form-email{
    border:1px solid grey;
    margin-top:10px;
    padding:4px 105px;
    border-radius:15px;
}

.form-message{
    border:1px solid grey;
    margin-top:10px;
    padding:40px 105px;
    border-radius:10px;}

.form-send{
    margin-left:310px;
    margin-top: 10px;

}
footer{
    margin-top: 60px;
}
@media(max-width:576px) {
    h1{font-size: small;
    text-align: center;}
}
h2{font-size: small;
  }

p{font-size: smaller;
  text-align: center;
}

